/*--
Remember the cascade: 
 1. later styles override earlier ones 
 2. more specific styles override more general ones
--*/
html {
	font-size: 62.5%;
}
img {
	width: 100%;
	height: auto;
}
body {
  color: #444;
  font-size: 1.6rem;
  font-family: 'Gentium Book Basic', serif;
}
p {
  margin-bottom: .67em;
}

nav, footer {
  background-color: rgba(116, 16, 99, 0.904);
}
footer {
  text-align: center;
  padding: 1em 0 .3em 0;
  color: #f6f2f2;
}
/*-- Main Menu Styles--*/
nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 1em;
  margin: 0 auto;
}
nav a:link, nav a:visited {
  color: #f9f6f6;
  text-decoration: none;
}
nav a:hover, nav a:active  {
  color: #f9f6f6;
  text-decoration: underline;
}
nav a.active {
  color: #f9f6f6;
}
/*-- Hero Unit Styles--*/
header {
  width: 510px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  color: rgba(116, 16, 99, 0.904);
}
header img {
  width: 100%;
  margin: 0 auto;
}
header h1 {
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}
.small {
  margin-top: 1em;
  font-weight: 900;
  font-family: 'Lato', sans-serif; 
  text-transform: uppercase;
  font-size: 16px;
  color: #888;
}
/*-- Article Styles--*/
article {
  width: 768px;
  font-size: 18px;
  line-height: 1.3;
  margin-left: auto;
  margin-right: auto;
}
article figure {
  width: 39%;
  margin: 0 0 1.25em 1.25em;
  float: right;
}
article figcaption {
  font-size: inherit;
  font-weight: lighter;
  font-size: smaller;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pagination {
  width: 96%;
  margin: 2em auto;
  display: flex;
  justify-content: space-between;
}
a.button {
  border: 2px solid rgb(116, 16, 99, 0.904);
  padding: .4em 1em .4em 1em;
  text-decoration: none;
  color: #444;
  border-radius: 200px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 80%;
}
a.button:hover, a.button:active {
  border: 1px solid #444;
  text-decoration: none;
  color: #222;
}
/*-- changes header and article width on small screens --*/
@media screen and (max-width: 768px) {
  header {width: 96%;}
  article {width: 96%;}
}
